@charset "UTF-8";
:root {
  --primary-text-color:#757575;
  --primary-back-ground-color:#F5F5F5;
  --accent-color:#2196F3;
  --secondary-text-color:#212121;
  --svg-color: #AFB1B8;
}

/* Сброс отступов */
p, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* Убираем маркеры */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  letter-spacing: 0.02em;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
.container--about-team {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .container--about-team {
    display: block;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .container--about-team {
    display: flex;
    flex-direction: column;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .container--main-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .container--main-box {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    text-align: start;
    margin: 0 auto;
  }
  .container--main-box {
    display: flex;
    align-items: center;
  }
}

.mob-container {
  width: 100vw;
  height: 100vh;
  outline: 1px dashed greenyellow;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.fix {
  padding-left: 15px;
  padding-right: 15px;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

.mob-menu {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  padding-right: none;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}
.logo .accent {
  color: var(--accent-color);
}
.logo .accent-studio {
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}

.mob-button {
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .mob-button {
    display: none;
  }
}

.close-button {
  position: absolute;
  display: block;
  top: 10px;
  right: 15px;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.mob-menu-nav {
  display: inline-block;
  margin-bottom: 302px;
}
.mob-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-nav__link:hover, .mob-menu-nav__link:focus {
  color: var(--accent-color);
}

.mob-menu-contact {
  display: block;
  font-weight: 500;
  margin-bottom: 64px;
}
.mob-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu-contact__mail {
  font-size: 34px;
  line-height: 1.1764705882;
  color: #2196F3;
}
.mob-menu-contact__tel {
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--primary-text-color);
}

.mob-menu-social {
  display: flex;
}
.mob-menu-social__item {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.mob-menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-menu-social__item:first-child {
  padding-left: 0px;
}
.mob-menu-social__item:last-child {
  padding-right: 0px;
}
.mob-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  color: var(--accent-color);
}

.site-nav {
  display: none;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 87px;
  }
  .site-nav__item {
    margin-right: 50px;
  }
  .site-nav__item:last-child {
    margin-right: 0;
  }
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.1428571429;
    font-weight: 500;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    margin-left: 92px;
  }
}

.auth-nav {
  display: none;
  margin-left: 90px;
}
.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
.auth-nav__link {
  display: flex;
  text-align: start;
  align-items: center;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    display: flex;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  .auth-nav__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
  }
  .auth-nav__item:not(:last-child) {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .auth-nav__item + .auth-nav__item {
    padding-left: 50px;
  }
  .auth-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .auth-nav__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: var(--accent-color);
  }
}

.hero {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}
.hero--overlay {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .hero--overlay {
    max-width: 480px;
    background-size: 480px 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile/hero.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile/hero@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero--overlay {
    max-width: 768px;
    background-size: 768px 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet/hero.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet/hero@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero--overlay {
    max-width: 1600px;
    height: 600px;
    background-size: 1600px 600px;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop/hero@2x.jpg);
  }
}

.body {
  position: relative;
}

.button {
  border: solid transparent;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 24px;
  text-align: center;
  font-weight: 700;
  background-color: var(--accent-color);
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .button {
    min-width: 216px;
    padding: 6px 28px;
  }
}
.button:hover, .button:focus {
  background-color: #188CE8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  cursor: pointer;
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-field {
  margin-bottom: 10px;
}
.modal-field__label {
  display: block;
  position: relative;
  text-align: start;
  margin-bottom: 4px;
  font-style: normal;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-field__comment {
  width: 100%;
  height: 138px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-field__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-field__comment::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-field__comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.modal-field__text {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modal-field__text {
    padding-left: 12px;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.modal-field__text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field__check:checked + .modal-field__text span {
  background-color: var(--accent-color);
  border: none;
  fill: #ffffff;
}
.modal-field__check:focus + .modal-field__text span {
  border-color: var(--accent-color);
}
.modal-field__policy {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.input-wrapper {
  position: relative;
}
.input-wrapper__modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper__modal:focus {
  border-color: var(--accent-color);
}
.input-wrapper__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper__modal:focus + .input-wrapper__icon {
  fill: var(--accent-color);
}

.button-submit {
  margin-top: 20px;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 10px 52px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-submit:hover, .button-submit:focus {
  background-color: #188CE8;
}

.feature-list {
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list {
    margin-left: 61px;
  }
}
.feature-list__paragraph {
  text-align: start;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
.feature-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}
.feature-list__title {
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.1428571429;
}
.feature-list__item:not(:last-child) {
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .feature-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .feature-list__item:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
  }
  .feature-list__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .feature-list__link {
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
    margin-bottom: 30px;
  }
  .feature-list__item:last-child {
    margin-right: 0px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.about {
  padding-top: 0px;
}
.about--section {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .about--section {
    display: none;
  }
}

.about-team {
  background-color: #F5F4FA;
}
.about-team--section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .about-team--section {
    padding-top: 90px;
    padding-bottom: 94px;
  }
}

.work-list {
  display: flex;
}
.work-list__item {
  position: relative;
  z-index: 0;
}
.work-list__box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-list__description {
  display: block;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.work-list__item:not(:last-child) {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.work-list__img {
  display: block;
  max-width: 100%;
}

.comand-list {
  display: block;
}
@media screen and (min-width: 768px) {
  .comand-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .comand-list {
    margin: 0px;
  }
}
.comand-list__item {
  text-align: center;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comand-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .comand-list__item__item:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .comand-list__item {
    flex-direction: column;
    width: calc((100% - 90px) / 4);
  }
}
.comand-list__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.comand-list__name {
  padding-top: 16px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comand-list__name {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .comand-list__name {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.comand-list__title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
}
.comand-list__paragraph {
  text-align: center;
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .comand-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .comand-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.social {
  display: flex;
  justify-content: center;
  justify-self: center;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--svg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.social__link:last-child {
  margin-right: 0;
}
.social__item:hover, .social__item:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  fill: #FFFFFF;
  cursor: pointer;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
}
.client-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--svg-color);
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__icon {
  fill: currentColor;
}
.client-list__link:hover, .client-list__link:focus {
  color: var(--accent-color);
  cursor: pointer;
  border-color: 1px solid var(--accent-color);
}
@media screen and (max-width: 767px) {
  .client-list {
    margin: -15px;
  }
  .client-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .client-list__link {
    padding-left: 52px;
    padding-right: 52px;
  }
}
@media screen and (max-width: 1199px) {
  .client-list__item {
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .client-list {
    margin: -15px;
  }
  .client-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% - 90px) / 3);
  }
  .client-list__link {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    width: calc((100% - 150px) / 6);
    margin-right: 30px;
  }
  .client-list__link {
    padding-left: 32px;
    padding-right: 32px;
  }
  .client-list__item:last-child {
    margin-right: 0;
  }
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__list {
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .footer__list {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__list {
    margin-left: 61px;
    margin-bottom: 63px;
    text-align: center;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__logo {
    margin-left: 100px;
    font-size: 24px;
    line-height: 1.1666666667;
    margin-bottom: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
}
.footer-nav__item {
  line-height: 1.7142857143;
}
.footer-nav__address {
  color: #FFFFFF;
}
.footer-nav__link {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__link:hover, .footer-nav__link:focus {
  color: var(--accent-color);
}
.footer-nav__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-nav__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.social-box {
  display: flex;
  justify-content: center;
  justify-self: center;
}
.social-box__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-box__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--svg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-box__icon {
  fill: #FFFFFF;
}
.social-box__link:last-child {
  margin-right: 0px;
}
.social-box__item:hover, .social-box__item:focus {
  background-color: var(--accent-color);
}

.content-area {
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .content-area {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .content-area {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-social {
  margin-left: 165px;
}
@media screen and (max-width: 767px) {
  .footer-social {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
}
.footer-social__join {
  display: flex;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 767px) {
  .footer-social__join {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social__join {
    align-items: center;
    justify-content: center;
  }
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .footer-subscribe {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}
.footer-subscribe__form {
  display: flex;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 767px) {
  .footer-subscribe__form {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe__form {
    display: block;
  }
}
.footer-subscribe__area {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .footer-subscribe__area {
    display: block;
    margin: 0 auto;
    max-width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe__area {
    display: block;
    margin-bottom: 20px;
  }
}
.footer-subscribe__button {
  border: 0px solid transparent;
  margin-left: 12px;
  border-radius: 4px;
  padding: 10px 28px;
  min-width: 200px;
  text-align: center;
  background-color: var(--accent-color);
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .footer-subscribe__button {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe__button {
    display: block;
    margin: 0 auto;
  }
}
.footer-subscribe__paraghraph {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-subscribe__icon {
  margin-left: 10px;
  fill: #FFFFFF;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.footer-subscribe__button:hover, .footer-subscribe__button:focus {
  background-color: #188CE8;
}

.site-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}
.site-filter__item:not(:last-child) {
  margin-right: 8px;
}
.site-filter__link {
  padding-top: 6px;
  padding-bottom: 6px;
  border: transparent;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: #F5F4FA;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-filter__current {
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.site-filter__link:hover, .site-filter__link:focus {
  color: #FFFFFF;
  background-color: #188CE8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.site-filter__current {
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.project-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 34px;
}
.project-cards__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-cards__shadow {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-cards__tumb {
  position: relative;
  overflow: hidden;
}
.project-cards__img {
  display: block;
  max-width: 100%;
}
.project-cards__overlay {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  min-height: 294px;
  min-width: 370px;
  text-align: start;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-cards__paraghraph {
  display: flex;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 0 24px;
}
.project-cards__card {
  padding: 20px 24px;
  text-align: start;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: #EEEEEE 1px solid;
  border-left: #EEEEEE 1px solid;
  border-bottom: #EEEEEE 1px solid;
}
.project-cards__name {
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-cards__about {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
.project-cards__shadow:hover .project-cards__overlay, .project-cards__shadow:focus .project-cards__overlay {
  transform: translateY(0%);
}
.project-cards__shadow:hover, .project-cards__shadow :focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-cards > .project-cards__item:nth-child(3n) {
  margin-right: 0px;
}
.project-cards__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}/*# sourceMappingURL=main.css.map */