.footer-social {
    margin-left: 165px;

    @include mobile-max {
        display: block;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    

    @include desktop { 
        @include flexDirection();
        margin-left: 70px; 
    }
    

    &__join {


        display: flex;
        font-size: 14px;
        line-height: calc(16 / 14);   
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px; 

        color:rgba(255, 255, 255, 1);

        @include mobile-max {
            display: block;
            text-align: center;
        }

        @include tablet-range {
            align-items: center;
            justify-content: center;
        }
    }
}


