.footer-nav {
    @include flexDirection();

    &__item {
        line-height: calc(24 / 14);
    }

    &__address{
        color: $colorWhite;
    }

    &__link {
        color:rgba(255, 255, 255, 0.6);
        letter-spacing: 0.03em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
        color:var(--accent-color);
    }

    &__item:not(:last-child) {
        @media screen and (min-width: 768px) {
            margin-bottom: 8px;
        }
        
        @media screen and (min-width: 1200px) {
          margin-bottom: 9px;  
        }
    }
}