.footer-subscribe {
    @include flexDirection();
        margin-left: auto;

    @media screen and (max-width: 767px) {
        display: block;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    

    &__form {
        display: flex;
        font-size: 14px;
        line-height: calc(16 / 14);   
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px; 
    
        color:rgba(255, 255, 255, 1);

        @media screen and (max-width: 767px) {
            display: block;
            text-align: center;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: block;
        }
    }

    &__area {
        width: 358px;
        height: 50px;
        padding-left: 16px;
        font-size: 16px;
        line-height: calc(20 / 16);
        color: rgba(255, 255, 255, 0.6);
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;

        @media screen and (max-width: 767px) {
            display: block;
            margin: 0 auto;
            max-width: 450px;
            margin-bottom: 20px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: block;
            margin-bottom: 20px;
        }
    }

    &__button {
        border: 0px solid transparent;
        margin-left: 12px;
        border-radius: 4px;
        padding: 10px 28px;
        min-width: 200px;
        text-align: center;
    
        background-color: var(--accent-color);
        color:$colorWhite;
    
        font-family: $fontPrimary;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (max-width: 767px) {
            display: block;
            margin: 0 auto;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: block;
            margin: 0 auto;
        }
    }

    &__paraghraph {
        @include flexCenter();
    }

    &__icon {
        margin-left: 10px;
        fill:#FFFFFF;
        @include flexCenter($type:null);
        align-items: center;
        justify-content: center;
    }


    &__button:hover,
    &__button:focus {
        background-color: $colorFocus;
    }
}


