.footer-social {
    margin-left: 165px;

    @media screen and (max-width: 767px) {
        display: block;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    

    @media screen and (min-width: 1200px) { 
        @include flexDirection();
        margin-left: 70px; 
    }
    

    &__join {


        display: flex;
        font-size: 14px;
        line-height: calc(16 / 14);   
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px; 

        color:rgba(255, 255, 255, 1);

        @media screen and (max-width: 767px) {
            display: block;
            text-align: center;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px){
            align-items: center;
            justify-content: center;
        }
    }
}


