.hero {
    
    text-align: center;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    // outline: 1px dashed red;

    @media screen and (min-width: 480px) {
        max-width: 100%;
        margin: 0 auto;
        padding-top: 0px; 
        padding-bottom: 0px;
    }


    &__title {
        margin-bottom: 30px;
        text-align: center;
        font-weight: 900;
        font-size: 26px;
        line-height: calc(42 / 26);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color:#FFFFFF;
        
        

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: calc(60 / 44);
        }
    }

    &--overlay {
        padding-top: 118px; 
        padding-bottom: 118px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 767px) {
            max-width: 480px;
            
            background-size: 480px 400px;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-mobile/hero.jpg);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-mobile/hero@2x.jpg);
            }
        }

        @media screen and (min-width: 768px) {
            max-width: 768px;
            background-size: 768px 400px;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-tablet/hero.jpg);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-tablet/hero@2x.jpg);
            }
        }

        @media screen and (min-width: 1200px) {
            padding-top: 200px; 
            padding-bottom: 200px;
            max-width: 1600px;
            height: 600px;
            background-size: 1600px 600px;
            object-fit: cover;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-desktop/hero.jpg);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-desktop/hero@2x.jpg);
            }
        }
    }
}


