.hero {
    padding-top: 200px; 
    padding-bottom: 200px; 
    text-align: center;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;

    &__title {
        margin-bottom: 30px;
        color:#FFFFFF;
    
        text-align: center;
    
        font-size: 44px;
        font-weight: 900;
        line-height: calc(60 / 44);
        text-transform: uppercase;
        letter-spacing: 0.06em;
    }

    &--overlay {
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/team.jpg);
    }
}


