.modal-field {
    margin-bottom: 10px;

    &__label {
        display: block;
        position: relative;
        text-align: start;
        margin-bottom: 4px;
        font-style: normal;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        color: #757575;
    }

    &__comment {
        width: 100%;
        height: 138px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        padding-left: 16px;
        padding-top: 12px;
        resize: none;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    &__comment::placeholder {
    
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }
    
    &__comment:focus {
        outline: none;
        border: 1px solid var(--accent-color);
    }

    &__text {
        
        @include flexCenter($main-axis:start);
        
        font-size: 12px;
        line-height: calc(14 / 12);
        color: #757575;

        @media screen and (min-width: 1200px) {
            padding-left: 12px;  
            font-size: 14px;
            line-height: calc(24 / 14);
        }
    }
    
    &__text span {
        @include flexCenter();
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        margin-right: 7px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    
    &__check:checked + &__text span {
        background-color: var(--accent-color);
        border: none;
        fill: #ffffff;
    }
    
    &__check:focus + &__text span {
        border-color: var(--accent-color); 
    }

    &__policy {
        color: var(--accent-color);
        text-decoration: underline;
        margin-left: 5px;
    }
}

