.site-nav {
    display: none;
    &__link:hover,
    &__link:focus {
        color:var(--accent-color);
    }
    
    &__link--current::after {
        position: absolute;
        content: "";
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color:var(--accent-color);
    }

    &__link--current {
        color:var(--accent-color);
    }


    @media screen and (min-width:768px) {
        display: flex;
        margin-left: 87px; 
        
        &__item { 
            margin-right: 50px;
        }

        &__item:last-child{
            margin-right: 0;
        }

        &__link {
            position: relative;
            display: block;
            padding-top: 32px;
            padding-bottom: 32px;
            line-height: calc(16 / 14);
            font-weight: 500;
            color:var(--secondary-text-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    @media screen and (min-width:1200px) {
        display: flex;
        margin-left: 92px;
    }

}


