.social-box {
    @include flexCenter($cross-axis:null);
    justify-self: center;

    &__link {
        @include flexCenter();
        width: 44px;
        height: 44px;
        margin-right: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
    }

    &__item {
        @include flexCenter();
        width: 100%; 
        height: 100%;
        border-radius: 50%;
        fill: var(--svg-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon {
        fill:#FFFFFF;
    }

    &__link:last-child {
        margin-right: 0px;
    }

    &__item:hover,
    &__item:focus {
        background-color:var(--accent-color) ;
    }
}

