.social {
    @include flexCenter($cross-axis:null);
    justify-self: center;

    &__link {
        @include flexCenter();
        width: 44px;
        height: 44px;
        margin-right: 10px;
    }
    
    &__item {
        @include flexCenter();
        width: 100%; 
        height: 100%;
        border-radius: 50%;
        fill: var(--svg-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    &__icon {
        display: inline-block;
        width: 20px; 
        height:20px;
    }

    &__link:last-child {
        margin-right: 0
    }

    &__item:hover,
    &__item:focus {
        background-color:var(--accent-color);
        border-radius: 50%;
        fill:$colorWhite;
        cursor: pointer;
    }
}







