.content-area {
    @media screen and (max-width: 767px) {
        display: block;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @include flexCenter($cross-axis: baseline, $main-axis:null);
}
