.container {
    margin-left: auto;
    margin-right: auto;

    &--about-team {
        padding-left: 15px;
        padding-right: 15px;

        @include mobile-max {
            display: block;
            overflow:hidden;

        }

        @include tablet {
            display: flex;
            flex-direction:column;

            width: calc((100% - 60px) / 2);

        }
    }

    &--main-box {
        @include mobile-max {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

        }

        @include tablet {
            display: flex;
            align-items: center;
            
        }
    } 
    
    @include mobile {
        width: 480px;

    }

    @include tablet {
        width: 768px;
        padding-left: 15px;
        padding-right: 15px;

    }

    @include desktop {
        width: 1200px;
        text-align: start;
        margin: 0 auto;
        &--main-box {
            @include flexCenter($main-axis:null);
        }   
    }

    
}

.mob-container {
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
}

.fix {
    padding-left: 15px;
    padding-right: 15px;
}



