.content-area {
    @include mobile-max {
        display: block;
    }

    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

    @include flexCenter($cross-axis: baseline, $main-axis:null);
}
