.section {
    padding-top: 60px; 
    padding-bottom: 60px; 
    
    @include desktop {
        padding-top: 94px; 
        padding-bottom: 94px; 
    }
   
}  

.section-title {
    margin-bottom: 30px;
    color:var(--secondary-text-color);
    
    font-size: 28px;
    font-weight: 700;
    line-height: calc(33 / 28);
    text-align: center;

    
    @include desktop {
        margin-bottom: 50px;
        font-size:36px;
        line-height: calc(42 / 36);
    }

}

.about {
    padding-top: 0px;

    &--section {
        padding-bottom:94px;

        @include tablet-max {
            display: none;  
        }
        
    }
}

.about-team {
    background-color: #F5F4FA;

    &--section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include desktop {
            padding-top:90px;
            padding-bottom:94px  
        }
        
    }
}