.section {
    padding-top: 60px; 
    padding-bottom: 60px; 
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px; 
        padding-bottom: 94px; 
    }
   
}  

.section-title {
    margin-bottom: 50px;

    color:var(--secondary-text-color);

    font-size:36px;
    font-weight: 700;
    line-height: calc(42 / 36);
    text-align: center;
}

.about {
    padding-top: 0px;

    &--section {
        padding-top:94px;
        padding-bottom:94px;

        @media screen and (max-width:1199px) {
            display: none;  
        }
        
    }
}

.about-team {
    background-color: #F5F4FA;

    &--section {
        padding-top:94px;
        padding-bottom:94px
    }
}