@mixin flexCenter($type:flex,  $cross-axis:center, $main-axis:center){
    display: $type;
    align-items: $cross-axis;
    justify-content: $main-axis;
    } 

@mixin flexDirection($type:flex, $main-axis:column){
    display: $type;
    flex-direction: $main-axis;
}
