:root {
    --primary-text-color:#757575;
    --primary-back-ground-color:#F5F5F5;
    --accent-color:#2196F3;
    --secondary-text-color:#212121;
    --svg-color: #AFB1B8;
}

$fontPrimary:Roboto, sans-serif;
$fontLogo: Raleway, sans-serif;
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorFocus: #188CE8;