.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

    &__list {
        font-style: normal;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 20px;
    }
}
