.page-header {
    border-bottom: 1px solid #ECECEC;
    position: relative;
}

.mob-menu {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    padding-right: none;

    @include tablet {
        display: none;
    }
}

.logo {
    color:$colorBlack; 
    font-family: $fontLogo;
    font-size: 26px;
    font-weight:700; 
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;

    .accent {
        color:var(--accent-color);
    }
    
    .accent-studio {
        color: $colorWhite;
    }
    

    @include mobile-max {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 15px;
    }

    @include tablet {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 26px;
        padding-bottom: 26px;

        font-size: 24px;
        line-height: calc(28 / 24);
        letter-spacing: 0.02em;
    }
}



