.page-header {
    border-bottom: 1px solid #ECECEC;
    position: relative;
}



.logo {
    color:$colorBlack; 

    font-family: $fontLogo;
    font-size: 26px;
    font-weight:700; 
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;

    @media screen and (max-width:767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.accent {
    color:var(--accent-color);
}

.accent-studio {
    color: $colorWhite;
}

