.site-filter {
    @include flexCenter();
    margin-bottom: 34px;

    @include mobile-max {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        &__item:nth-child(-n + 3) {
            margin-bottom: 15px;
        }
    }

    // &__item {
    //     @include mobile-max {
    //         display: flex;
    //         flex-wrap: wrap;
    //     } 
    // }
    

    &__item:not(:last-child) {
        margin-right: 8px;
    }

    &__link {
        padding-top: 6px;
        padding-bottom: 6px;
        border: transparent;
        border-radius: 4px;
        padding-left: 22px;
        padding-right: 22px;
        cursor: pointer;
    
        color: var(--secondary-text-color);
        background-color: #F5F4FA;
    
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: calc(26 / 16);
        letter-spacing: 0.03em;
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__current {
        padding-left: 25px;
        padding-right: 25px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    
    &__link:hover,   
    &__link:focus {
        color: $colorWhite;
        background-color: $colorFocus;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &__current {
        color:$colorWhite;
        background-color:var(--accent-color);  
    }

}







